* {
  padding: 0;
  margin: 0;
  /* font-family: "Jost", sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
}
body{
 position: relative;
}
.todo {
  text-align: center;
  word-spacing: normal;
  font-size: medium;
  line-height: normal;
  width: 20vw;
  height: 60vh;

  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
  background: rgb(166, 188, 221);
  position: relative;
  overflow: auto;
  transform: translate3d(0, 0, 0);
  min-width: 20rem;
  min-height: 35rem;
  margin-left: 55vh;
  margin-top: 30vh;
  /* padding-top: 30vh; */
}
